# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/ConsoleApplication1/bin/Debug/ConsoleApplication1.exe.config
/ConsoleApplication1/bin/Debug/ConsoleApplication1.vshost.exe.config
/ConsoleApplication1/bin/Debug/ConsoleApplication1.vshost.exe.manifest
/ConsoleApplication1/bin/Debug/Demo.exe.config
/ConsoleApplication1/bin/Debug/Demo.vshost.exe.config
/ConsoleApplication1/obj/Debug/ConsoleApplication1.csproj.FileListAbsolute.txt
/ConsoleApplication1/obj/Debug/Demo.csproj.FileListAbsolute.txt
/ConsoleApplication1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ConsoleApplication1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ConsoleApplication1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/PausingTask/obj/Debug/PausingTask.csproj.FileListAbsolute.txt
/PausingTask/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/PausingTask/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/PausingTask/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ConsoleApplication1/ConsoleApplication1.v12.suo
/ConsoleApplication1/bin/Debug/Demo.exe
/ConsoleApplication1/bin/Debug/Demo.pdb
/ConsoleApplication1/bin/Debug/Demo.vshost.exe
/ConsoleApplication1/bin/Debug/Demo.vshost.exe.manifest
/ConsoleApplication1/bin/Debug/PausingTask.dll
/ConsoleApplication1/bin/Debug/PausingTask.pdb
/ConsoleApplication1/obj/Debug/Demo.csprojResolveAssemblyReference.cache
/ConsoleApplication1/obj/Debug/Demo.exe
/ConsoleApplication1/obj/Debug/Demo.pdb
/ConsoleApplication1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PausingTask/bin/Debug/PausingTask.dll
/PausingTask/bin/Debug/PausingTask.pdb
/PausingTask/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PausingTask/obj/Debug/PausingTask.csprojResolveAssemblyReference.cache
/PausingTask/obj/Debug/PausingTask.dll
/PausingTask/obj/Debug/PausingTask.pdb
